##################################
# Javascript
##################################
node_modules/
**/node_modules/
**/dist/
**/dist-dev/
**/dist-report/
npm-debug.log*
.DS_Store
*.pem
*.env
*.etherscan
typings/
*.tsbuildinfo
.npm

# Scrap work
scrap.js
scrap.ts
scrap/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# DB
*.rdb