ENV=prod
AWS_ACCOUNT_ID=
AWS_REGION=us-west-1
MIN_NODES=3
MAX_NODES=10
VPC_CIDR=
ACM_WILDCARD_CERT_ARM=
DOCKER_IMAGE_ORG=spec
HEAD_REPORTER_IMAGE_NAME=head-reporter
INDEXER_IMAGE_NAME=indexer
MIGRATION_IMAGE_NAME=migration
DATA_JOB_IMAGE_NAME=data-job
TABLES_API_IMAGE_NAME=tables-api
EVENT_RELAY_IMAGE_NAME=event-relay
CORE_API_IMAGE_NAME=core-api
LOG_RELAY_IMAGE_NAME=log-relay
DELAYED_JOBS_IMAGE_NAME=delayed-jobs
GAP_DETECTOR_IMAGE_NAME=gap-detector
EVENT_SORTER_IMAGE_NAME=event-sorter
EVENT_GENERATOR_IMAGE_NAME=event-generator
POLLERS_IMAGE_NAME=pollers
RPC_API_IMAGE_NAME=rpc-api
CORE_DB_NAME=
CORE_DB_HOST=
CORE_DB_PORT=
CORE_DB_USERNAME=
CORE_DB_PASSWORD=
INDEXER_DB_NAME=
INDEXER_DB_HOST=
INDEXER_DB_PORT=
INDEXER_DB_USERNAME=
INDEXER_DB_PASSWORD=
SHARED_TABLES_DB_NAME=
SHARED_TABLES_DB_HOST=
SHARED_TABLES_DB_PORT=
SHARED_TABLES_DB_USERNAME=
SHARED_TABLES_DB_PASSWORD=
SHARED_TABLES_DEFAULT_ROLE=
SHARED_TABLES_READER_HOST=
SHARED_TABLES_READER_USERNAME=
SHARED_TABLES_READER_PASSWORD=
INDEXER_REDIS_HOST=
INDEXER_REDIS_PORT=
INDEXER_RANGE_GROUP_SIZE=
CORE_REDIS_HOST=
CORE_REDIS_PORT=
PUBLISHER_ROLE_KEY=
JWT_SECRET=
EVENT_GENERATORS_JWT=
TABLES_API_POR=
TABLES_API_STREAM_BATCH_SIZE=
EVENT_RELAY_HOSTNAME=
SOCKETCLUSTER_PORT=
SOCKETCLUSTER_LOG_LEVEL=
FUNCTIONS_PORT=
ABI_REDIS_HOST=
ABI_REDIS_PORT=
CORE_API_ADMIN_TOKEN=
GAP_DETECTOR_BUGSNAG_API_KEY=
HEAD_REPORTER_BUGSNAG_API_KEY=
INDEXER_BUGSNAG_API_KEY=
TABLES_API_BUGSNAG_API_KEY=
EVENT_SORTER_BUGSNAG_API_KEY=
EVENT_GENERATOR_BUGSNAG_API_KEY=
EVENT_RELAY_BUGSNAG_API_KEY=
LIVE_OBJECT_INDEXER_BUGSNAG_API_KEY=
LOG_RELAY_BUGSNAG_API_KEY=
CORE_API_BUGSNAG_API_KEY=
DELAYED_JOBS_BUGSNAG_API_KEY=
RPC_API_BUGSNAG_API_KEY=
CHAIN_ID=
ALCHEMY_API_KEY=
ALCHEMY_REST_URL=
ALCHEMY_SUBSCRIPTION_URL=
RPC_POOL_ENDPOINTS=
HEAD_REPORTER_QUEUE_KEY=
DENO_DEPLOY_TOKEN=
ETHERSCAN_API_KEY=
GOERLISCAN_API_KEY=
POLYGONSCAN_API_KEY=
MUMBAISCAN_API_KEY=
MANUALLY_REPORT_NUMBERS=
FORCE_REINDEX=
USE_EVENT_RELAY_SCC_CLUSTER=false
SCC_STATE_SERVER_PORT=
SCC_BROKER_PORT=
CMC_API_KEY=
V0_PAYLOAD_WHITELIST=